/*Scroll bar styles*/

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px #808080;*/
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e3e3e3;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #454545;
}


tbody{
    background: white;
}