.program-cardel-header {
    background: rgb(17, 17, 17);
    color: #ffffff;
}

.program-cardel {
    height: 100%;
    width: 100%;
    color: #131313;
    background-image: url("../../assets/images/windows.png");
}

.icon-cardel {
    background-position: -240px 0;
}

.icon-cardel:hover {
    background-position: -240px -60px;
}

.icon-cardel:active {
    background-position: -240px -120px;
}

.icon-cardel-small {
    background-position: -251px -193px;
}

.program-cardel .card-title {
    font-size: 20px;
}

.disco {
    margin-top: 10px;
    margin-left: 15px;
    height: 50px;
    width: 50px;
    background-color: #36393f;
    text-align: center;
    border-radius: 40%;
    top: 10px;
}

.disco img {
    height: 50px;
    width: 50px;
    border-radius: 40%;
}

#hiddendiv {
    font-family: Garamond, Serif;
    display:none;
    width: fit-content;
    height: 20px;
    margin-top: 10px;
    background-color: black;
}

#nolagrp:hover:not(.active) + #hiddendiv {
    margin-left: 20px;
    display: block;
    color: white;
}

.disco:hover:not(.active) {
    background-color: #5865f2;
}

#sidebar {
    position: fixed;
    display: inline-block;
    height: 43.5vh;
    width: 12vw;
    background-color: #2f3136;
    overflow: hidden;
    float:left;
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    width: 11vw;
    height: 3.5vh;
    background-color: #2f3136; /*#2f3136;*/
    font-size: 16px;
    vertical-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 4px;
}

.profile a {
    color: white;
    margin-left: 3.5vh;
}
.profile img {
    position: absolute;
    left: 0;
    margin-left: 10px;
    top: 5px;
    max-height: 30px;
    vertical-align: center;
    border-radius: 50%;
}

.profile.active {
    background-color: #393c43;
    color: white;
}

.profile:hover:not(.active) {
    cursor: pointer;
    color: white;
    background-color: #393c43;
}

#headerb {
    height: 2vh;
    width: 60vw;
    background-color: #202225;
}

#darkchat {
    float: left;
    position: fixed;
    display: inline-block;
    width: 52.6vw;
    height: 45.5vh;
    background-color: #36393f;
    overflow: hidden;

}

#chatbox {
    width: 36vw;
    height: 30vh;
    margin-top: 1vh;
    margin-left: 14vw;
    background-color: #36393f;
}

#txt {
    width: 80vw;
    height: 40px;
    margin-top: 87vh;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #40444b;
    border-radius: 10px;
    color:white;
    outline: none;
    border: 0px;
    padding-left: 20px;
    background-size: cover;
}

#textbox {
    margin-left: 1.5vw;
    margin-top: 20vh;
    width: 36vw;
    height: 8vh;
    background-color: #36393f;
    border-radius: 10px;
}

.msg {
    display: flex;
    align-items: center;
}

.msgbox {
    margin-left: 3vh;
    height: 9vh;
    width: 20vh;
    color: white;
    background-color: #505152;
    margin-top: 0vh;
    border-radius: 5px;
    margin-bottom: 10px;
}

.msgtext {
    font-size: 1.5vh;
    text-align: center;
    vertical-align: center;
}

#textbox button:hover {
    cursor: pointer;
    color:white;
    background-color: #202225;
}

#textbox button {
    height: 4.77vh;
    width:10vw;
    margin-left: 10vh;
    margin-top: -1vh;
    color: #868a8f;
    background-color: #2f3136;
    border-radius: 50px;
    font-size: 1.5vh;
    border: 0;
}

#header-c {
    margin-left: 10vw;
    height: 45px;
    background-color: #36393f;
    border-bottom: 1px solid #2b2e33;
    color: #b3792b;
    resize: horizontal;
}

#user {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#user img {
    border-radius: 50%;
    margin-left: 1%;
    margin-top: 5px;
    margin-right: 10px;
    max-height: 35px;
    vertical-align: center;
}

#user button {
    display: inline-block;
    float: right;
    white-space: nowrap;
}

#userplate {
    font-family: Garamond, Serif;
    width: fit-content;
    margin-top: 5px;
    font-size: 18px;
    height: 50%;
    color: white;
    background-color: transparent;
    vertical-align: center;
    border-radius: 5px;
}